@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 212.7 50.5% 78.6%;
        --foreground: 217.5 25% 25.1%;
        --primary: 0 0% 86.7%;
        --primary-foreground: 216 30% 25%;
        --secondary: 233.3 47.4% 92.5%;
        --secondary-foreground: 217.5 25% 25.1%;
        --accent: 17.7 69.4% 55.1%;
        --accent-foreground: 0 0% 100%;
        --destructive: 17.7 69.4% 55.1%;
        --destructive-foreground: 0 0% 100%;
        --muted: 212.7 50.5% 78.6%;
        --muted-foreground: 217.5 25% 25.1%;
        --card: 210 50% 96.1%;
        --card-foreground: 217.5 25% 25.1%;
        --popover: 0 0% 100%;
        --popover-foreground: 217.5 25% 25.1%;
        --border: 214 50% 88.2%;
        --input: 214 0% 0%;
        --ring: 218 0% 0%;
        --radius: 0rem;

        --cursor-url: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAARRJREFUWEfdl0ESwyAIRXXr2vtf0L1bO3GqiVTka52SpqukwfD4IhBrzl+6XB+Xltxzt3RdsYPWX43UAJL33oQQmgitrWw0kgY0pb4Ag/WtH+dcijEa+iJ1gLqRpxL5Lw50VYlD3qwh8AIdAJr6ZWs4YM6eO1WiAr8AKD6GWwHWBMMpxCX1Rx1ApeWAvgFYUkJyWAJCFLgXQKVhKt1sck4rcBuAWRApOS/P8wHotcxud9l1OqYBdjnmeoiogAbA0nFEKyXtsqOxaUtplpISmdsgELRL0nrwFwBNTrCjsVAxZyrh7PjdnZTQwQTZAinB0ZGu6+s5AAOZhkFuU0ATgDslUHCQkZSF7+dL35Y7AUDO1kwd4AWXSKwd8HVMJQAAAABJRU5ErkJggg==);
        --cursor-click-url: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0;
        --button-border-url: url("data:image/svg+xml;utf8,<?xml version='1.0' encoding='UTF-8' ?><svg version='1.1' width='8' height='8' xmlns='http://www.w3.org/2000/svg'><path d='M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z' fill='rgb(33,37,41)' /></svg>");

        --pixel-borders-image-1-primary-color-normal: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23209cee' /></svg>");
        --pixel-borders-image-1-success-color-normal: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%2392cc41' /></svg>");
        --pixel-borders-image-1-warning-color-normal: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23f7d51d' /></svg>");
        --pixel-borders-image-1-error-color-normal: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='hsl(17.7 69.4% 55.1%)' /></svg>");
        --pixel-borders-image-2-error-color-normal: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12'><path d='M2 2h2v2H2zM4 0h2v2H4zM10 4h2v2h-2zM0 4h2v2H0zM6 0h2v2H6zM8 2h2v2H8zM8 8h2v2H8zM6 10h2v2H6zM0 6h2v2H0zM10 6h2v2h-2zM4 10h2v2H4zM2 8h2v2H2z' fill='hsl(17.7 69.4% 55.1%)' /></svg>");
        --pixel-borders-image-1-color-black-absolute: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23000' /></svg>");
        --pixel-borders-image-2-color-black-absolute: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12'><path d='M2 2h2v2H2zM4 0h2v2H4zM10 4h2v2h-2zM0 4h2v2H0zM6 0h2v2H6zM8 2h2v2H8zM8 8h2v2H8zM6 10h2v2H6zM0 6h2v2H0zM10 6h2v2h-2zM4 10h2v2H4zM2 8h2v2H2z' fill='%23000' /></svg>");
        --pixel-borders-image-1-color-white-absolute: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23fff' /></svg>");
        --pixel-borders-image-2-color-white-absolute: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12'><path d='M2 2h2v2H2zM4 0h2v2H4zM10 4h2v2h-2zM0 4h2v2H0zM6 0h2v2H6zM8 2h2v2H8zM8 8h2v2H8zM6 10h2v2H6zM0 6h2v2H0zM10 6h2v2h-2zM4 10h2v2H4zM2 8h2v2H2z' fill='%23fff' /></svg>");
        --pixel-borders-image-1-contrast-alpha-color-shadow: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='rgba(153, 153, 153, 0.2)' /></svg>");
        --pixel-borders-image-1-contrast-alpha-color-normal: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='rgba(153, 153, 153, 0.7333333333)' /></svg>");
        --pixel-borders-image-1-default-color-normal: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='hsl(214 50% 88.2%)' /></svg>");
        --pixel-borders-image-2-default-color-normal: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12'><path d='M2 2h2v2H2zM4 0h2v2H4zM10 4h2v2h-2zM0 4h2v2H0zM6 0h2v2H6zM8 2h2v2H8zM8 8h2v2H8zM6 10h2v2H6zM0 6h2v2H0zM10 6h2v2h-2zM4 10h2v2H4zM2 8h2v2H2z' fill='hsl(214 50% 88.2%)' /></svg>");
        --pixel-borders-image-1-color-border-absolute: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='hsl(214 50% 88.2%)' /></svg>");
        --pixel-borders-image-2-color-border-absolute: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12'><path d='M2 2h2v2H2zM4 0h2v2H4zM10 4h2v2h-2zM0 4h2v2H0zM6 0h2v2H6zM8 2h2v2H8zM8 8h2v2H8zM6 10h2v2H6zM0 6h2v2H0zM10 6h2v2h-2zM4 10h2v2H4zM2 8h2v2H2z' fill='hsl(214 50% 88.2%)' /></svg>");
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }

    html {
        cursor: var(--cursor-url), auto;
    }

    html a, html button {
        cursor: var(--cursor-click-url), pointer;
    }

.nesui-rounded-border {
    clip-path: polygon(0% 4px, 4px 4px, 4px 0%, calc(100% - 4px) 0%, calc(100% - 4px) 4px, 100% 4px, 100% calc(100% - 4px), calc(100% - 4px) calc(100% - 4px), calc(100% - 4px) 100%, 4px 100%, 4px calc(100% - 4px), 0% calc(100% - 4px));
}
}