.input-wrapper {
  border-image-slice: 4;
  border-image-width: 2;
  border-image-outset: 0;
  border-image-source: var(--pixel-borders-image-2-color-black-absolute);

  &.error {
    border-image-source: var(--pixel-borders-image-2-error-color-normal);
  }
}